<%- include('./layout/plate.ejs') %>
<link rel="stylesheet" href="/stylesheet/showBooks.css">
<body>
  <div class="container">
    <h1><%= book.title %></h1>
    
    <div class="book-grid">
        <div class="book-card">
          <% if (book.image) { %>
            <img src="<%= book.image %>" alt="Book Image" />
          <% } else { %>
            <div class="no-img">No Image</div>
          <% } %>
          <p><strong>Price:</strong> ₹<%= book.price %></p>
          <p><strong>Owner:</strong> <%= book.owner.name || 'Unknown' %></p>
          <p><strong>Address:</strong> <%= book.address %></p>
        </div>
    </div>
  </div>
</body>
</html>
